/* /src/styles/TeamMembers.css */

.team-page {
    background-color: rgb(0, 0, 73);
    color: white;
    padding: 20px 0 20px 0;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.member-info a img {
    border-radius: 1px 15px 1px 15px;
    
} 

.member-info {
    text-align: center;
}

.team-members img {
    width: 200px;
    height: auto;
}

.team-members .linked img {
    height: 50px;
    width: 50px;
}

@media (max-width: 768px) {
    .team-members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px)  and (max-width:900px) {
    .team-members {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .team-members {
        grid-template-columns: 1fr;
    }
}
